<!doctype html>
<html lang="en">
  {{partial "head" . }}
  
	<body class="{{ .Params.class | default "team" }} sidebar-collapse">
    <div class="logo-overlay-loader">
      <div class="logo-container">
          <img src="/img/logo.svg" alt=""><br>
          <span class="">manjaro</span><br>
          <div class="progress">
              <div id="dynamic" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" valuenow="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              <span id="current-progress"></span>
            </div>
      </div>
    </div> 
   {{ partial "navbar" . }}    
    
        <div class="{{ .Params.section | default "section"}}" style="min-height: 90vh;">
            <div class="container">
              
            {{ block "body" . }}
	          {{ end }}

            </div>
        </div>
      {{ partial "footer" . }}
    </div>
  </body>
{{partial "javascript" . }}
</html>
