{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "body" }}
<section class="team-section text-center my-5">

{{ .Content }}
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/team/philip.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Philip Müller</h5>
      <p class="text-uppercase text-center"><strong>Project Lead Developer</strong></p>
      <p class="">Started the project together with Roland and Guillaume back in 2011. In mid 2013 Manjaro was still in beta stage! Now he is working with the community to build an amazing Linux distribution.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/team/bernhard.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Bernhard Landauer</h5>
      <p class="text-uppercase text-center"><strong>Developer</strong></p>
      <p class="">Coordinating Community Editions with a focus on Cinnamon, Deepin and i3. He is involved in our development tools, package maintaining and optimisation within our hardware projects.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/team/stefano.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Stefano Capitani</h5>
      <p class="text-uppercase text-center"><strong>Developer</strong></p>
      <p class="">Supporting the Development in multiple ways. Gnome is his daily desktop environment. Talk to him about packaging, Gnome, Budgie and GTK Themes.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="/img/logo.svg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Jonathon Fernyhough</h5>
      <p class="text-uppercase text-center"><strong>Forum Management/DevOps</strong></p>
      <p class="">I make sure everyone does their part even when they get sleepy.</p>
    </div>
    <!-- Grid column -->
  

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/logo.svg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Josh Crowder</h5>
      <p class="text-uppercase text-center"><strong>ARM Developer</strong></p>
      <p class="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed quia non numquam modi tempora eius.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/team/helmut.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Helmut Stult</h5>
      <p class="text-uppercase text-center"><strong>ARM Developer</strong></p>
      <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque rem laudantium totam aperiam.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/team/matti.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Matti Hyttinen</h5>
      <p class="text-uppercase text-center"><strong>Developer</strong></p>
      <p class="">Works on manjaro-architect and gnome-layout-switcher. Maintains Bspwm edition and related packages, while also lending a helping hand on the Gnome edition"</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="/img/team/dan.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Dan Johansen</h5>
      <p class="text-uppercase text-center"><strong>ARM Lead Developer</strong></p>
      <p class="">I make sure everyone does their part even when they get sleepy.</p>
    </div>
    <!-- Grid column -->
  

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://www.gravatar.com/avatar/93bf04534e28f00221f36b674465f1df&s=128" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Frede Hundwadt</h5>
      <p class="text-uppercase text-center"><strong>Lead Developer</strong></p>
      <p class="">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed quia non numquam modi tempora eius.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/logo.svg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Guillaume Benoit</h5>
      <p class="text-uppercase text-center"><strong>Developer</strong></p>
      <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque rem laudantium totam aperiam.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/logo.svg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Vitor Lopes</h5>
      <p class="text-uppercase text-center"><strong>Web Developer</strong></p>
      <p class="">Work on the website, Ms-Office-Online backend, some occasional packaging and the conceptual - Just Another Desktop Environment.</p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="/img/team/coffee.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Coffee</h5>
      <p class="text-uppercase text-center"><strong>Caffeine</strong></p>
      <p class="">I make sure everyone does their part.</p>
    </div>
    <!-- Grid column -->
  </div>
{{ end }}