    /* Minor fixes */
    /* Mobile changes */
    @media screen and (max-width: 768px) {
        
    .landing-page .section-story-overview .image-container {
    margin-bottom: 30px;
    }

    .landing-page .section-team .team-player {
        margin-bottom: 60px;
    }

    .section {
        padding: 0;
    }
    .section-story-overview .image-container:nth-child(2) {
        margin-top: 312px;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-collapse .navbar-collapse:before {
        background: #00a152;
        opacity: 100;
    }
    .dropdown-menu .dropdown-item {
        color: #FFFFFF;
        font-weight: bold;
    }
    .donate-page .flex-item {
        margin-bottom: 100px;
    }
}
/* end Mobile changes */
.navbar {
    font-weight: bold;
}

.page-header .text-center a {
    margin-right: 10px;
}

.btn-success {
    background-color: #00a152;
}

.landing-page .btn-success:hover, .landing-page .btn-success:active, .landing-page .btn-success:focus {
    background-color: #FFFFFF;
    border: #ffffff;
    color: #00a152 !important;
}

.blockquote, .blockquote small {
    color: #00a152 !important;
}
.blockquote {
    border-color: #00a152 !important;
}

.landing-page .description a, .team-player .category {
    color:#00a152;
    font-weight: bold;
}
.landing-page h3 {
    margin-bottom: 0px;
}
.landing-page p {
    margin-bottom: 30px;
}

.donate-page .features-post p {
    text-align: left;
}

.navbar {
    background-color: #00a152 !important;
}

.profile-page img[src="/img/features/overview.svg.png"] {
    padding-bottom: 60px;
    padding-top: 20px;
}

.profile-page td {
    /*padding: 14px;*/
    padding-right: 5px;
}

#how-much-does-it-cost {
    margin-top: 40px;
}
.profile-page p, .donate-page .features-post h3 {
    text-align: left;
}
.profile-page h2 {
    text-align: center;
}
.profile-page p:nth-child(2), .donate-page .features-post p:nth-child(7) {
    text-align: center;
}

.donate-page .features-post p {
    margin-bottom: 40px;
}

.donate-page .features-post h3 {
    margin-bottom: 0px;
}
.flex-item div {
    border: none !important;
}
.donate-page .flex-item img {
    width: 200px !important;  
}
.donate-page .flex-item:nth-child(2) h3 {
    margin-top: 4px !important;
    margin-bottom: 30px;
}
.profile-page section {
    margin-bottom: 80px;
}
.profile-page section div {
    text-align: left;
}

@media (min-width: 769px) {
    .team-player .description {
    /* this needs to be ajusted if you add more content */
    min-height: 125px;
    }
    .landing-page .section-team, .section-story-overview {
        padding: 0px;
    }
    .section-story-overview p.blockquote {
        top: 476px;
    }
}
@media screen and (min-width: 992px) {
    .flex-grid {
        display: flex;
    }
    .dropdown-menu .now-ui-icons {
        color: #00a152 !important;
        position: relative;
        margin-right: 5px;
        font-size: 0.8571em;
        font-weight: bold;
    }
}

/* End Minor fixes */