{{ define "title" }}
{{ end }}

{{ define "body" }}
<div class="jumbotron">
    <img class="logo" src="/img/logo.svg">
  <div><h1 class="display-4">Buy hardware with Manjaro.</h1>
  <h2 class="lead">Laptops with Manjaro pre-installed that you can get right now.</h2>
  <p>We have partnered with manufacturers to design Manjaro dedicated hardware.</p>
</div>
</div>

{{ partial "hardware.html" . }}
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
    {{ .Content }}
    </div>   
  </div>
  

  

{{ end }}        
 