$green:#44883c;
$svg-icon-size: 62px;


  @font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Comfortaa-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Comfortaa-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Bold.ttf') format('truetype'),
         url('/fonts/Comfortaa-Bold.woff') format('woff'),
         url('/fonts/Comfortaa-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Light.ttf') format('truetype'),
         url('/fonts/Comfortaa-Light.woff') format('woff'),
         url('/fonts/Comfortaa-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-LightItalic.woff2') format('woff2'),
         url('/fonts/OpenSans-LightItalic.woff') format('woff'), 
         url('/fonts/OpenSans-LightItalic.ttf')  format('truetype');
    font-weight: lighter;
    font-style: italic; 
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Light.woff2') format('woff2'),
         url('/fonts/OpenSans-Light.woff') format('woff'), 
         url('/fonts/OpenSans-Light.ttf')  format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
         url('/fonts/OpenSans-Regular.woff') format('woff'), 
         url('/fonts/OpenSans-Regular.ttf')  format('truetype');
    font-style: normal; 
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: -30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.01em;
    
    p {
        color: #5a5a5a;  
    }
}

hr {
    border-top: 1px solid $green;
}

h1, h2, h3, h4, h5, a, .navbar, .team-player .category, .blockquote, .btn {
    font-family: 'Comfortaa', cursive;
}

.icon {
    width: $svg-icon-size !important;
    max-width: $svg-icon-size !important;
}

h1, h2, h3, h4, h5 {
    font-size: 1.5em;
}

h1:not(.title), h2, h3, h4, h5 {
    font-weight: lighter !important;
}

a, .description a {
    color: #673ab7;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
        color: $green;
    }
}

#back-to-top {
    z-index: 99;
}

.section {
        
    p {
        text-align: justify;
    }
}

.landing-page .section,
.news .section {
    background-image: url(/img/bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -232px 232px;
    background-attachment: fixed;
}

p, .call-to-action {
    margin-bottom: 40px;
}

.separator.separator-primary {
    background-color: $green;
}

.donation-manually-field {
    color: #484c47 !important;
    font-size: 14px !important;
}

.btn-success {
    background-color: $green;
    &:hover,
    &:active,
    &:focus {
        background-color: $green;
    }
}

#acc-details {
    padding-right: 0px !important;
}

.modal-open {
    padding-right: 0px !important;
    overflow: visible;
}

.section-story-overview p.blockquote {
    top: -20px;
}

.blockquote {

    width: auto !important;
    color: #6b6a6a !important;
    font-size: 1.2rem;
    border: none;
    border-right: 4px $green solid !important;
    text-align: justify !important;

    small {
        float: right;
        color: #6b6a6a !important;
    }
}

.page-header {
    height: 110vh !important;
}

h1.title::first-letter {
    color: $green;
}

.hardware .title-container h1 {
    font-size: 2em;
}

::selection {
    background: $green;
    color: #ffff;
}

@media screen and (max-width: 575px) {
    .footer-dot {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .landing-page {
        .social-icons-top .btn {
            background-color: #ffff;
        }
    }

    #scrolltocontent {
        display: none;
    }

    .btn-group {
        a:first-child {
            border-radius: 20px !important;
        }
    }
    
    .landing-page {
          .title-container .text-left {
            text-align: center !important;
        }
    }
    .landing-page {
        .section-story-overview {
            margin-top: -100px !important;
        }
    }
    
    .section {
        padding: 0;
    }
    .configured-with-one-click {

        .feature-screenshot-fan div {
            min-height: 0px;
        }
    }
    .social-icons-top {
        margin-top: -24px !important;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-collapse .navbar-collapse:before {
        background: $green;
        opacity: 100;
    }
    .dropdown-menu .dropdown-item {
        color: #FFFFFF;
        font-weight: bold;
    }
    .donate-page .flex-item {
        margin-bottom: 100px;
    }

    .landing-page .container {
        width: 100%;
        max-width: 100%;
    }
    .navbar-brand {
        margin-top: 4px;
    }
    .navbar-translate .page-nav {
        position: absolute;
        left: 100px;
    }
    .configured-with-one-click {
        .row section, .row img{
            margin-bottom: 40px;
        }
        .row section p {
            margin-bottom: 0px;
        }
    }
    .loader {
        right: 35px;
        margin-top: 1px;
    }
    .landing-page {
        .social-icons-top .btn {
            margin-bottom: 40px;
        }
    }
    .section-story-overview p.blockquote {
        margin-bottom: 40px;
    }
    .section-team {
        .description {
          margin-bottom: 80px;
        }
        h2 {
            padding-top: 100px !important;
        }
    }
}


/* end Mobile changes */

.navbar {
    font-weight: bold;
    background-color: $green !important;
    
    .nav-item:not(.dropdown) {
        letter-spacing: 1px;
    }

    .nav-link:not(.dropdown) {
        font-size: 0.8571em !important;
    }
    .navbar-brand {
        margin-right: 0px;
        padding: 0px;
        padding-right: 5px;
        text-transform: lowercase !important;
        font-size: 1.6em  !important;
    }
    .navbar-translate {
        margin-top: -6px;
    }
}



.page-nav {
    color: #FFFFFF !important;
    cursor: default;
    text-transform: uppercase;
    font-size: 0.8571em;
    display: inline-block;
    line-height: 1.625rem;
    padding-top: 0.5rem;
}

.page-header .text-center a {
    margin-right: 10px;
}

.section {
    background-color: #f0f0f0;
}

.tooltip.show {
    opacity: 1;
    color: #2c2c2c;
    font-family: comfortaa,cursive;
    font-weight: 700;
  }

.social-icons-top {

    .fab {
       margin-top: 19px;
    }
     
    text-align: right;
    margin-top: -94px;

    .btn {
        background-color: #f0f0f0;
        color: $green;
        margin-left: 5px;
        position: relative;
        z-index: 99; 
        height: 3.375rem;
        min-width: 3.375rem;
        width: 3.375rem;
        font-size: 1rem;      

        &:hover,
        &:active,
        &:focus {
            background-color: $green;
            border: $green;
            color: #FFFFFF !important;
        }
    }
}

.page-header .page-header-image {
    will-change: transform;
}

.landing-page {

    .section:not(.section-team) .container {
        background: #FFFFFF;
    }

    .section-story-overview {
        .row {
            padding-top: 15px;
            padding-bottom: 15px;
            box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        }

        .col-md-6:not(last-child) {
            .col-left {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    background-color: #80cbc46b;
                    padding: 8px;
                    color: #424242;
                }
            }
        }       
    }
    
    h3 .fa, h2 img, h3 .fab, h3 .fas {
        margin-right: 10px;
    }

    h2 img {
        width: 1em;
        vertical-align: text-top;
    }

    .btn-group {
        a:last-child {
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
        a:first-child {
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
        }
    }

    .blockquote {
        position: initial !important;
        .fa {
            color: $green;
        }
    }

    .logo {
        position: absolute;
        width: 96px;
        height: 96px;
        margin-top: -180px;
        margin-left: -48px;
    }

    .fa-arrow-down {
        font-size: 1.3em;
        margin-left: 5px;
    }

    .fa-heart {
        color: red;
    }
    .fa-users {
        color: #2196f3;
    }
    .fa-dollar-sign {
        color: #ff6f00;
    }
    .fa-download {
        color: #d81b60;
    }
    .fa-linux {
        color: #616161;
    }
    .fa-compact-disc {
        color: #d84315;
    }

    .page-header {
        max-height: 100% !important;
    }

    h1 {
        margin-bottom: 0;
    }

    .title-container {
        background-color: #2c2c2c;
        background-color: #00000082;
        padding: 18px !important;
        z-index: -1;
        margin-top: 96px;
    
      p {
        color: #FFFFFF;
        text-align: justify;
        margin-bottom: 15px;
        margin-top: 15px;
       }  
    }

    h3, h2 {
        margin-bottom: 15px;
    }

    h5, .section-story-overview {
        text-align: justify;
        h3 {
            text-align: left;
        }
    }

    h5.description {
        font-size: 1.2rem;
        color: #6b6a6a;
        margin-top: 16px;
    }
} 

.donate-page {
    
    .features-post {
        margin-bottom: -50px;
        h3 {
        margin-bottom: 0px;
        text-align: left;
        }
    }
    .flex-item {
        img {
            width: 140px !important;
        }
    }
    .flex-item:nth-child(2) h3 {
        margin-top: 4px !important;
        margin-bottom: 30px;
    }
    .flex-grid {
        padding-left: 0px;
    }
    p:nth-child(7) {
        text-align: center;
    }
    .section {
        padding: 0;
    }
}

.download-page {
    
    ul li h2 {
        margin-bottom: 0px;
    }
    
    .editions-tag-checkbutton label {
        width: 170px;
        min-width: 170px;
    }
    .section {
        padding: 0;
    }
    ul.card {
        padding-right:0 !important;
    }
    li img {
        margin-right: 8px;
    }
}

.support-page {
    h3 {
        margin-bottom: 10px;
        margin-top: 60px;
    }
    ul {
        padding-left: 86px;
    }
    img {
        margin-right: 5px;
        margin-top: -5px;
    }
    .section {
        padding: 0;
    }
}

.page {
    img[src="/img/features/overview.png"] {
      padding-bottom: 60px;
      padding-top: 20px;
    }

    td {
      /*padding: 14px;*/
      padding-right: 5px;
    }
    h2 {
        text-align: center;
    }
    .header-link {
        width: 100%;
        margin-bottom: 0px;
    } 
    ul {
        text-align: left;
    } 
    a img:first-child {
        margin-bottom: 30px;
    }    
}

.privacy-policy, .terms-of-use {
    h2, h3 {
        text-align: left;
        margin-bottom: 0;
    }
}

.useful-for-everyone {
    .row {
        div a {
            width: 100%;
            border-radius: 0px;
        }
        .list-group {
            min-height: 235px;
            li:not(:last-child) {
            border-bottom: 1px solid $green;
            }
            li:last-child {
                border-bottom: 1px solid #ffff;
                }
        }
        h2 {
       margin-bottom: 0px;
        }
    }
    .section {
        padding: 0;
        padding-top: 50px;
    }
    .btn {
        margin: 0;
    }
}

.xl-icon {
    height: 150px;
    width: 150px;
}

.sm-icon {
    width: 25px;
    height: 25px;
}

.under-your-control {
    
    h3 {
        margin-bottom: 0px;
    }
    .section {
        padding: 0;
        padding-top: 90px;
        min-height: 93vh;
    }
}

.fresh-and-stable {
    .section {
        padding-top: 90px;
    }
}

.first-steps {
    
    .section {
        padding-bottom: 40px;
        padding-top: 90px;
    }
}

.user-guide {
    .container:nth-child(1) {
        text-align: center;
    }
    li {
        text-align: left;
    }
    .section {
        padding: 0;
        padding-top: 60px;
    }
}

.news {
    .loader {
        display: block;
    }

    .blog .row {
        min-height: 2000px;
    }
    .section {
        .container {
            margin-top: 46px;
        }
        padding-top: 30px;
        *:not(button) {
            font-size: 14px;
        }
        .btn {
            float: right;
        }
        time {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 12px;
            color: red;
        }
        .title-container {
            margin-top: 62px;
            text-align: center;
            .title {
                font-size: 22px;
            }
        }
    }
    .blog {
        padding-top: 0;
        margin-top: 15px;
        div.text-center {
            margin-bottom: 40px;
        }
    }
    .blog-post {
            margin-bottom: 0;
    }
    .card {
        text-align: center;
        h5 {
            text-align: left;
        }
        &:hover {
            box-shadow: 0 5px 25px 0 rgba(0,6,0,.5);
            color: #000;
        }
        padding: 20px;
        margin-top: 0;
        img[src=""], .hide {
            display: none;
        }
        img[src^="https://forum.manjaro.org/images/emoji"] {
            display: none;
        }
        .btn-group {
            text-align: center;
            float: right;
            margin-bottom: -10px;
            .disabled {
                cursor: default;
                color: black;
            }
        }
        botton:not(.disabled):hover {
            text-decoration: underline;
        }
    }
    .modal-content {

        *:not(button) {
            font-size: 14px !important;
        } 
        h1, h2, h3, h4, h5 {
            margin-bottom: 0;
            font-weight: bold !important;
        }
        p {
            margin-bottom: 1.2rem;
        }
        .modal-header button {
            right: 10px;
            top: 5px;
        }
    }
    .modal-footer button {
        
        &:active, &:hover, &:focus {
        background: $green;
        }
    }
    button a {
        color: #FFFFFF;
    }
    img {
        margin-bottom: 0;
        height: auto;
    }
}

#how-much-does-it-cost {
    margin-top: 40px;
}

.flex-item div {
    border: none !important;
}

.editions-tag-checkbutton input[type="checkbox"]:checked+label,
.editions-box-caption-extended-subtitle,
.editions-box-caption-small,
.editions-box-caption-extended {
    background: $green !important;
}

.editions-box {
    .editions-box-caption-small,
    .editions-box-caption-extended-subtitle {
        margin: 0px;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
    .editions-box-caption-extended .editions-box-caption-extended-content .targetgroup {
        font-size: 14px !important;
    }
}

.configured-with-one-click {

    .container .row > section {
        margin-top: -2px;
    }

    h3 {
      text-align: left;
      margin-bottom: 15px;
    }
    .section {
        padding: 0;
        padding-top: 90px;
        
        p {
            margin-bottom: 0px;
        }
    }
    img {
        border: 2px solid #ffff;
    }
    .features-post, img {
        margin-bottom: 100px !important;
        
    }
}

@media (min-width: 768px) {

    .useful-for-everyone .row .list-group {
        min-height: 255px !important;
    }

    .landing-page .title-container {
        max-width: 80% !important;
        top: 44% !important;
    }
    .section-story-overview .image-container:nth-child(2) {
        margin-top: 150px;
    }
    .team-player .description {
        /* this needs to be ajusted if you add more content */
        min-height: 125px;
    }
    .landing-page .section-team,
    .section-story-overview {
        padding: 0px;
    }
    .section-story-overview p.blockquote {
        top: 0;
    }
    .landing-page .blockquote {
        right: 16px !important;
        padding-right: 30px;
    }
    .zoom {      
        -webkit-transition: all 0.20s ease-in-out;    
        -moz-transition: all 0.20s ease-in-out;    
        transition: all 0.20s ease-in-out;
        cursor: -webkit-zoom-in;      
        cursor: -moz-zoom-in;      
        cursor: zoom-in;  
        } 
        .transitionFix {
            -webkit-transition: background 0.4s, box-shadow 0.4s;
            -moz-transition: background 0.4s, box-shadow 0.4s;
            transition: background 0.4s, box-shadow 0.4s;
        }    
        
        .configured-with-one-click .zoom:hover,  
        .configured-with-one-click .zoom:active,   
        .configured-with-one-click .zoom:focus {
        -ms-transform: scale(2.5);    
        -moz-transform: scale(2.5);  
        -webkit-transform: scale(2.5);  
        -o-transform: scale(2.5);  
        transform: scale(2.5);    
        position:relative;      
        z-index:100; 
        margin-left: 50%; 
        }
        
        .news .zoom:hover,  
        .news .zoom:active,   
        .news .zoom:focus {
            -ms-transform: scale(1.05);    
            -moz-transform: scale(1.05);  
            -webkit-transform: scale(1.05);  
            -o-transform: scale(1.05);  
            transform: scale(1.05);    
            position:relative;      
            z-index:100;  
            }        
}

@media screen and (min-width: 992px) {

    .jumbo-submenu {
        width: 508px;
        .menu-block {
            float: left;
            margin: 10px;
            margin-top: 2px;
        }
        h6 {
            color: $green !important; 
            border-bottom-color: $green !important; 
            border-bottom: 1px solid;
            padding-bottom: .8rem;
            margin-bottom: .6rem;
            font-size: .8em !important;
        }
    }
    .section-team {

        .team .team-background:first-child {
            border-top-left-radius: 50%;
        }
        .team .team-background:last-child {
            border-top-right-radius: 50%;
        }
        .description {
            margin-bottom: 0px;
        }
    }

    .navbar-brand {
        margin-top: -4px;
    }

    .landing-page .title-container {
        max-width: 70% !important;
        top: 44% !important;
    }

    .landing-page .navbar-transparent .nav-item:nth-child(1) {
        display: none;
    }

    .col-left {
        padding-right: 10px;
    }
    
    .landing-page {
        .blockquote {
            border-right: 0 !important;
        }
        .col-md-6:nth-child(2) {
            p, h3 {
        padding-left: 10px;
    }}}
    .section-story-overview .col-md-6:first-child {
        border-right: 1px $green solid;
    }
    

    .donate-page .flex-grid {
        display: flex;
    }
    .dropdown-menu .now-ui-icons {
        color: $green !important;
        position: relative;
        margin-right: 5px;
        font-size: 0.8571em;
        font-weight: bold;
    }
    .configured-with-one-click {

        .feature-screenshot-fan div {
            min-height: 240px;
        }
    }
    .page-header {
        height: 96vh !important;
    }
}

.section-story-overview .image-container:nth-child(2) {
    margin-left: 0px;
}

@media screen and (min-width: 1200px) {
    .landing-page .title-container {
        max-width: 60% !important;
        top: 40% !important;
    }
}

@media screen and (min-width: 1600px) {
    .landing-page .title-container {
        max-width: 55% !important;
        top: 40% !important;
    }
}

/* For content images*/
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

.section-team *, .page-footer * {
    color: #cecccc !important;
} 

/* core team */

.section-team {

    h2 {
     padding-top: 15px;
     text-align: center;
     font-size: 1.8em;
     margin-bottom: 108px;
    }
    .team-background {
        background-color: #2c2c2c;
    }
    .team-player {

        #philip-müller {
            margin-top: 40px;
        }

        img {
            margin-top: -50px;
        } 
        .title {
            font-weight: 500;
        }
        .description {
            text-align: justify;
            font-style: italic;
            font-weight: bold;
            font-size: 1.1em;
        }
        .category {
            text-align: center;
            font-size: 14px;
            color: inherit;
            font-weight: bold;
            margin-bottom: 0;
        }

        a {
            color: $green;
        } 
    }
 }

 /* end core team */
 