<!doctype html>
<html lang="en">
  {{partial "head" . }}
  
	<body class="{{ .Params.class | default "page" }} sidebar-collapse {{if eq .Title "News"}}{{ replace .Title " " "-" | lower}}{{end}}">
    <div class="logo-overlay-loader">
      <div class="logo-container">
          <img src="/img/logo.svg" alt="">
          <span class="">manjaro</span>
      </div>
    </div> 
    {{ if not .IsHome}}
        {{ partial "navbar" . }} 
      {{ else }}
        {{ partial "nav-image-header" . }}
        <div class="{{ .Params.wrapper | default "wrapper" }}">
          {{ if eq .Params.class "landing-page" }}
          <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}" filter-color="{{ .Param "tint" | default "orange" }}">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background")  | default "img/header.jpg" | absURL }}');">
            </div>
            {{ else }}
            <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}" filter-color="{{ .Param "tint" | default "orange" }}">
                <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background")  | default "img/header.jpg" | absURL }}');">
                </div>{{end}}
                
                {{ block "title" . }}
                {{ end }}
                
            </div>
      {{ end }}
    
    
        <div class="{{ .Params.section | default "section"}}" style="min-height: 90vh;">
            <div class="container">
              
            {{ block "body" . }}
	          {{ end }}

            </div>
        </div>
      {{ partial "footer" . }}
    </div>
  </body>
{{partial "javascript" . }}
</html>
