<div class="section section-team text-center">
		<div class="container">
			<h2 class="title">Our Core Team</h2>
			<div class="team">
				<div class="row">
					<div class="col-md-4">
						<div class="team-player">
							<img src="/img/philip.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
							<h4 class="title">Philip Müller</h4>
							<p class="category">Lead Developer</p>
							<p class="description"><a href="https://forum.manjaro.org/u/philm/summary">Philip</a> started the project together with Roland and Guillaume back in 2011. In mid 2013, Manjaro was in the beta stage. Now he is working with the community to make one of
								the best Linux distributions.</p>
							<!-- <div class="social-icons-team">
										<a href="#pablo" class="btn test btn-icon btn-round"><i class="fa fa-twitter"></i></a>
										<a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-instagram"></i></a>
										<a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
									</div> -->
						</div>
					</div>
					<div class="col-md-4">
						<div class="team-player">
							<img src="/img/bernhard.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
							<h4 class="title">Bernhard Landauer</h4>
							<p class="category">Community Manager</p>
							<p class="description"><a href="https://forum.manjaro.org/u/oberon/summary">Bernhard</a> having an eye on the community, maintains most of the Community Editions of Manjaro. Connect with him in our forums to be part of it.</p>
							<!--<div class="social-icons-team">
										<a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-twitter"></i></a>
										<a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-linkedin"></i></a>
									</div> -->
						</div>
					</div>
					<div class="col-md-4">
						<div class="team-player">
							<img src="/img/stefano.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
							<h4 class="title">Stefano Capitani</h4>
							<p class="category">Developer</p>
							<p class="description"><a href="https://forum.manjaro.org/u/Ste74/summary">Stefano</a> likes themes and supports the development of Manjaro in multiple ways. Gnome is his day-to-day desktop environment. Talk to him about Gnome, Budgie and all GTK related!</p>
							<!-- <div class="social-icons-team">
										<a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
										<a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
										<a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-twitter"></i></a>
									</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>