{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ i18n "title" }}</h1>
    <div><img class="logo" src="/img/logo.svg"></div>
    <p>{{ i18n "whatIsManjaro" }}</p>
  <div class="btn-group" role="group" aria-label="Toolbar with button groups">
    <a href="/download/" class="btn btn-success ">{{ i18n "chooseEditionAndDownload" }}</a>
    <a id="scrolltocontent" class="btn btn-info ">{{ i18n "learnMore" }} <i class="fa fa-arrow-down"></i>
    </a>
  </div>
  </div>
</div>
{{ end }}
{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
  {{ .Content }}
  </div>   
</div>
{{ end }}        
