{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
    {{ if eq .Params.class "landing-page" }}
    <div><img class="logo" src="/img/logo.svg"></div>
    <p class="col-md-12">{{ .Params.whatIsManjaro }}</p>
    <a class="btn btn-primary" href="/download/">{{ i18n "choose_edition_and_download" }}<i class="fas fa-angle-double-down"></i></a>
    <a id="scrolltocontent" href="#" class="btn btn-primary">{{ i18n "learn_more" }}<i class="fa fa-arrow-down"></i></a>
{{ end }}
  </div>
</div>
{{ end }}
{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
      <div id="content" class="social-icons-top">
        <a href="{{.Params.facebook}}"  target="_blank" class="btn btn-icon btn-round">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="{{.Params.twitter}}"  target="_blank" class="btn btn-icon btn-round"> 
          <i class="fab fa-twitter"></i>
        </a>
        <a href="{{.Params.youtube}}"  target="_blank" class="btn btn-icon btn-round"> 
            <i class="fab fa-youtube"></i>
        </a>
        <a href="{{.Params.gitlab}}"  target="_blank" class="btn btn-icon btn-round"> 
            <i class="fab fa-gitlab"></i>
        </a>
    </div>
  {{ .Content }}
  </div>   
</div>
{{ partial "story-overview.html" . }}
{{ end }}        
 