{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
    {{ if eq .Params.class "landing-page" }}
    <div><img class="logo" src="/img/logo.svg"></div>
    <p>{{ .Params.whatIsManjaro }}</p>
  <div class="btn-group" role="group" aria-label="Toolbar with button groups">
    <a href="/download/" class="btn btn-success ">Choose Edition and Download</a>
    <a id="scrolltocontent" class="btn btn-info ">Learn more <i class="fa fa-arrow-down"></i>
    </a>
  </div>
{{ end }}
  </div>
</div>
{{ end }}
{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
      <div id="content" class="social-icons-top">
        <a href="{{.Params.facebook}}"  target="_blank" class="btn btn-icon btn-round">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="{{.Params.twitter}}"  target="_blank" class="btn btn-icon btn-round"> 
          <i class="fab fa-twitter"></i>
        </a>
        <a href="{{.Params.youtube}}"  target="_blank" class="btn btn-icon btn-round"> 
            <i class="fab fa-youtube"></i>
        </a>
        <a href="{{.Params.gitlab}}"  target="_blank" class="btn btn-icon btn-round"> 
            <i class="fab fa-gitlab"></i>
        </a>
    </div>
  {{ .Content }}
  </div>   
</div>
{{ partial "story-overview.html" . }}
{{ partial "core-team.html" . }}
{{ end }}        
 