{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "body" }}

<section class="blog section">
	<div class="container">
		<div class="row">
			{{ range (.Paginator 6).Pages }}
			{{if .Summary}}
			<article class="blog-post col-sm-12 col-md-10 ml-auto mr-auto">
				<a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
				<p class="card">
					{{ .Summary }}
					<br>
					<br>
					<a href="{{ .Permalink }}" class="link">Read More</a>
				</p>
				
			</article>
			{{ end }}{{end}}
		</div>
		<div class="col-12 text-center">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>
</section>

{{ end }}        
 
