{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "body" }}

<section class="blog section">
	<div class="container">
		<div class="row">
			{{ range (.Paginator 6).Pages }}
			<article class="blog-post">
				<a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
				<p>
					{{ .Summary }}
				</p>
				<a href="{{ .Permalink }}" class="btn btn-success">Read More</a>
			</article>
			{{ end }}
		</div>
		<div class="col-12 text-center">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>
</section>

{{ end }}        
 
