<!doctype html>
<html lang="en">
  {{partial "head" . }}
  
	<body class="{{ .Params.class | default "support-page" }} sidebar-collapse">
      <div class="logo-overlay-loader">
          <div class="logo-container">
              <img src="/img/logo.svg" alt="">
              <span class="">manjaro</span>
          </div>
        </div>
    {{ partial "navbar" . }}
    
    <div class="{{ .Params.wrapper | default "wrapper" }}">
      
           
            {{ block "title" . }}
            {{ end }}
            
        </div>
        <div class="{{ .Params.section | default "section"}}">
            <div class="container">
              
            {{ block "body" . }}
	          {{ end }}

            </div>
        </div>
      {{ partial "footer" . }}
    </div>
  </body>
{{partial "javascript" . }}
</html>
