{{ define "title" }}
<div class="container">
    <div class="content-center title-container">
        <h1 class="title">{{ .Title }}</h1>
        <div class="text-center">
            {{with .Params.description }} {{ . | safeHTML }} {{ end }}
        </div>
    </div>
</div>
{{ end }} {{ define "body" }}
<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-left">
        <section>
            <div class="container">
                <div class="fluid-row align-items-center">

                    <div class="center">
                        <p>{{ .Content | markdownify }} {{ range .Params.support_categories }}


                            <h3><img class="icon" src="/img/commonproblems/{{ .icon }}" alt="Icon" />{{ .name }}</h3>

                            {{ range (where (where $.Site.Pages ".Type" "problem-post" ) ".Params.category" .category ) }}
                            <ul>
                                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            </ul>
                            {{ end }} {{ end }}


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{ end }}