<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle"  id="dropdown-editions" data-toggle="dropdown">
      <span>Editions</span>
      <span class="caret"></span>
    </a>
  <ul class="dropdown-menu dropdown-menu-right multi-level" aria-labelledby="dropdown-editions">
      {{ range .Params.editions }}
    <li class="dropdown-submenu">
    <a href="#{{ .id }}" onclick="displayArrow();show_editions('.{{ .id }}');" class="dropdown-item" id="{{ .id }}" aria-expanded="Dropright">
      {{ if eq .id "official" }}
      <img class="{{ .id }}-logo" src="/img/icon.svg">
      {{ end }}
      {{ if eq .id "community" }}
      <i class="fa fa-users"></i>
      {{ end }}
      {{ if eq .id "32bit" }}
      <i class="fas fa-compact-disc"></i>
      {{ end }}
      {{ if eq .id "arm" }}
      <i class="fas fa-microchip"></i>
      {{ end }}
      {{ if eq .id "dev" }}
      <i class="fas fa-compact-disc"></i>
      {{ end }}{{ .categorie }}</a>

    <ul class="dropdown-menu" aria-labelledby="{{ .categorie }}">
        {{ if eq .id "arm" }}
                {{ range $.Params.armDevices }}
                <li class="dropdown-submenu">
                  <a onclick="displayArrow();show_editions('.{{ .device }}');" class="dropdown-item" href="#">{{ .name }}</a>
                  <ul class="dropdown-menu" aria-labelledby="{{ .device }}">
                      {{ range (where (where (where $.Site.Pages.ByTitle "Type" "download-edition") ".Params.edition" "arm") ".Params.device" .device ) }}
                        <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}&nbsp;&nbsp;&nbsp;{{ .Params.Version }}</a>
                        {{end}}
                      </ul>
                </li>  
                {{ end }}
        {{ else }}
          {{ range (where (where $.Site.Pages.ByTitle "Type" "download-edition") ".Params.edition" .id ) }}
          <a class="dropdown-item" href="#{{ replace .Params.name " " "-" | lower}}" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}&nbsp;&nbsp;&nbsp;{{ .Params.Version }}</a>
          {{ end }}
        {{ end }}
    </ul>
    </li>
    {{ end }}

     
          