<aside id="downloads" style="transition: height .5s;">
    <div class="text-center">
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="editions-grid fluid-row align-items-center no-gutters">
                <!--
                NOTE: The range and end operations are supposed to be in line with the boxes!!!
                Read more about crazy HTML magic here: http://stackoverflow.com/questions/19038799/why-is-there-an-unexplainable-gap-between-these-inline-block-div-elements
                -->
                {{ range .Site.Pages }}{{ if eq .Type "download-edition" }}
                <div class="edition {{ .Params.edition }} {{ replace .Params.name " " "-" | lower}} col-12" style="display:none;">
                        {{ .Params.name }}
                <a href="{{ .Permalink }}" class="editions-box editions-link" >
                <img src="/img/editions/{{ .Params.thumbnail }}" class="img-responsive" alt="">
            </a>
            {{ .Params.shortDescription }}
                </div>{{ end }}{{ end }}
		</div>		
    </div>
</section>
</aside>
