    <aside id="downloads" style="transition: height .5s;">
    <div class="text-center">
        <div class="call-to-action">
            
            <div class="container-fluid">
                <div class="editions-grid fluid-row align-items-center no-gutters">
                  <h1 id="d-title">Editions - Chose a desktop for your machine.</h1>
                <!--
                NOTE: The range and end operations are supposed to be in line with the boxes!!!
                Read more about crazy HTML magic here: http://stackoverflow.com/questions/19038799/why-is-there-an-unexplainable-gap-between-these-inline-block-div-elements
                -->
                {{ range $index, $element := (where .Site.Pages "Type" "download-edition") }}
                <section class="edition {{ if .Params.device }}{{ replace .Params.device " " "-" | lower }}{{ end }} {{ .Params.edition }} {{ replace .Params.name " " "-" | lower}} col-12" style="display:none;">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            <h3>
                                <a class="btn btn-download btn-xl" href="{{ .Permalink }}" class="editions-box editions-link">Get {{ .Params.name }}<i class="fas fa-angle-double-down"></i></a>
                              </h3>
                            <p>{{ .Params.shortDescription }}</p>
                            <p>{{ .Content | markdownify }}</p>
                        </div>
                        <div class="image-container col-md-12 col-lg-6 col-xl-7">
                        {{ if .Params.Youtube }}
                            {{ partial "youtube" . }}
                            {{ else }}
                            <img src="/img/editions/{{ .Params.thumbnail }}" class="img-responsive" alt="">
                        {{ end }}
                        </div> 
                    </div>
                    </section>
            {{ end }}
		</div>		
    </div>
</section>
</aside>
