<!-- Footer -->

<footer class="page-footer" data-background-color="black">
    <div class="container text-center py-3">
      
    {{ range .Site.Menus.footer }}

        {{ if eq .Identifier "copyright" }}
        <div class="row justify-content-center py-1">
            <span>{{ .Pre }} {{ .Name }}</span>
        </div>
        {{end}}
         
        {{ if eq .Identifier "privacy" }}
            <a href="{{ .URL | relLangURL }}">
              <span>{{ .Pre }} {{ .Name }}</span>
            </a>
            <span class="footer-dot">•</span>
        {{end}}

        {{ if eq .Identifier "terms" }}
            <a href="{{ .URL | relLangURL }}">
                <span>{{ .Pre }} {{ .Name }}</span>
            </a>
            <span class="footer-dot">•</span>
        {{end}}

        {{ if eq .Identifier "imprint" }}
            <a href="{{ .URL | relLangURL }}">
                <span>{{ .Pre }} {{ .Name }}</span>
            </a>
        {{end}}     
      
    {{ end }}
</footer>

