<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <link rel="dns-prefetch" href="https://use.fontawesome.com/releases/v5.7.2/css/">
    <link rel="preconnect" href="https://use.fontawesome.com/releases/v5.7.2/css/">
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" as="style" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://forum.manjaro.org">
    <link rel="preconnect" href="https://forum.manjaro.org">

    {{ if .IsHome }}
    <!-- prefetch resources -->
    <link rel="prefetch" href="/js/isotope.pkgd.min.js" as="script" type="text/javascript">
    <link rel="prefetch" href="/js/imagesloaded.pkgd.min.js" as="script" type="text/javascript">
    <link rel="prefetch" href="/js/feedreader.js?v=1.0.3" as="script" type="text/javascript">

    <link rel="prefetch" href="https://forum.manjaro.org/c/announcements.rss" as="fetch" type="text/plain" crossorigin>
    <link rel="prefetch" href="https://forum.manjaro.org/c/announcements/manjaro32.rss" as="fetch" type="text/plain" crossorigin>
    <link rel="prefetch" href="https://forum.manjaro.org/c/manjaro-arm/announcements.rss" as="fetch" type="text/plain" crossorigin>
    <!-- end prefetch resources -->
    {{ end }}

    {{ if eq .Title "News"}}
    <link rel="preload" href="/js/isotope.pkgd.min.js" as="script" type="text/javascript">
    <link rel="preload" href="/js/imagesloaded.pkgd.min.js" as="script" type="text/javascript">
    <link rel="preload" href="/js/feedreader.js?v={{ .Site.Params.website_version }}" as="script" type="text/javascript">

    <link rel="preload" href="https://forum.manjaro.org/c/announcements.rss" as="fetch" type="text/plain" crossorigin>
    <link rel="preload" href="https://forum.manjaro.org/c/announcements/manjaro32.rss" as="fetch" type="text/plain" crossorigin>
    <link rel="preload" href="https://forum.manjaro.org/c/manjaro-arm/announcements.rss" as="fetch" type="text/plain" crossorigin>
    {{ end }}
    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="Manjaro News" href="https://forum.manjaro.org/c/announcements.rss">
    <link rel="alternate" type="application/rss+xml" title="Manjaro 32Bit News" href="https://forum.manjaro.org/c/announcements/manjaro32.rss">
    <link rel="alternate" type="application/rss+xml" title="Manjaro ARM News" href="https://forum.manjaro.org/c/manjaro-arm/announcements.rss">

    <link rel="apple-touch-icon" sizes="76x76" href="{{ "img/apple-icon.png" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">

    <title>Manjaro - {{ if .IsHome }}{{ i18n "slogan" }}{{ else }}{{.Title}}{{ end }}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!-- CSS Files -->
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="preload" as="style"/>
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet" />
    <link href="{{ "css/now-ui-kit.css?v=1.1.0" | relURL }}" rel="preload" as="style"/>
    <link href="{{ "css/now-ui-kit.css?v=1.1.0" | relURL }}" rel="stylesheet" />
    
    {{ $inServerMode := .Site.IsServer }}
    {{ $sass         := resources.Get "/sass/style.scss" }}
    {{ $cssTarget    := "/css/style.css" }}
    {{ $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
    {{ if $inServerMode }}
    {{ $css := $sass | toCSS $cssOpts | fingerprint}}
    <link rel="stylesheet" href="{{ $css.Permalink  | absURL }}?v={{ .Site.Params.website_version }}" integrity="{{ $css.Data.Integrity }}" media="screen">
    {{ else }}
    {{ $css := $sass | toCSS $cssOpts | resources.PostCSS }}
    <link href="{{ $css.Permalink }}?v={{ .Site.Params.website_version }}" rel="preload" as="style"/>
    <link href="{{ $css.Permalink }}?v={{ .Site.Params.website_version }}" rel="stylesheet" media="screen"/>
    {{ end }}

    <!--  Essential META Tags -->
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="keywords" content="{{ with .Keywords }}{{ . }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">

    <meta property="og:title" content="Manjaro - {{ .Title }}">
    <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta name="twitter:card" content="{{ .Params.twitter_summary }}">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Manjaro">
    <meta name="twitter:image:alt" content="Manjaro {{.Title}}">

    <!--  todo - Non-Essential, But Required for Analytics 

    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@ManjaroLinux"> -->
    
  {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
</head>
