<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <link rel="dns-prefetch" href="https://use.fontawesome.com/releases/v5.7.2/css/">
    <link rel="preconnect" href="https://use.fontawesome.com/releases/v5.7.2/css/">
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" as="style" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous">

    <link rel="dns-prefetch" href="https://forum.manjaro.org">
    <link rel="preconnect" href="https://forum.manjaro.org">

    {{ if .IsHome }}
    <link href="{{ .Site.BaseURL }}" rel="canonical">
    <link href="{{ .Site.BaseURL }}" rel="home">
    <!-- prefetch resources -->
    <link rel="prefetch" href="/js/isotope.pkgd.min.js" as="script" type="text/javascript">
    <link rel="prefetch" href="/js/imagesloaded.pkgd.min.js" as="script" type="text/javascript">
    <link rel="prefetch" href="/js/corsFeedReader.js?{{ .Site.Params.website_version }}" as="script" type="text/javascript">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <!-- end prefetch resources -->
    {{ end }}

    {{ if eq .Title "News"}}
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro announcements" href="https://forum.manjaro.org/c/announcements.rss" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro 32 bit announcements" href="https://forum.manjaro.org/c/announcements/manjaro32.rss" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro ARM announcements" href="https://forum.manjaro.org/c/manjaro-arm/announcements.rss" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro News" href="https://forum.manjaro.org/c/announcements/news.rss" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro OS releases" href="https://forum.manjaro.org/c/announcements/releases.rss" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro Stable Updates" href="https://forum.manjaro.org/c/announcements/stable-updates.rss" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro Testing Updates" href="https://forum.manjaro.org/c/announcements/testing-updates.rss" />
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Manjaro Unstable Updates" href="https://forum.manjaro.org/c/announcements/unstable-updates.rss" />
    <link rel="preload" href="/js/isotope.pkgd.min.js" as="script" type="text/javascript">
    <link rel="preload" href="/js/imagesloaded.pkgd.min.js" as="script" type="text/javascript">
    <link rel="preload" href="/js/corsFeedReader.min.js" as="script" type="text/javascript">
    <link rel="preload" href="/js/news.js" as="script" type="text/javascript">
    {{ end }}
    <!-- Feeds -->
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "img/apple-icon.png" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">

    <title>Manjaro - {{ if .IsHome }}{{ i18n "slogan" }}{{ else }}{{.Title}}{{ end }}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!-- CSS Files -->
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="preload" as="style"/>
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet" />
    <link href="{{ "css/now-ui-kit.css?v=1.1.0" | relURL }}" rel="preload" as="style"/>
    <link href="{{ "css/now-ui-kit.css?v=1.1.0" | relURL }}" rel="stylesheet" />
    
    {{ $inServerMode := .Site.IsServer }}
    {{ $sass         := resources.Get "/sass/style.scss" }}
    {{ $cssTarget    := "/css/style.css" }}
    {{ $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
    {{ if $inServerMode }}
    {{ $css := $sass | toCSS $cssOpts | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink  | relURL }}?v={{ .Site.Params.website_version }}" integrity="{{ $css.Data.Integrity }}" media="screen">
    {{ else }}
    {{ $css := $sass | toCSS $cssOpts | resources.Minify | fingerprint }}
    <link href="{{ $css.Permalink }}?v={{ .Site.Params.website_version }}" rel="preload" as="style"/>
    <link href="{{ $css.Permalink }}?v={{ .Site.Params.website_version }}" integrity="{{ $css.Data.Integrity }}" rel="stylesheet" media="screen"/>
    {{ end }}

    <!--  Essential META Tags -->
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.meta_description }}{{else}}{{.Params.meta_description}}{{end}}" />
    <meta name="keywords" content="{{ with .Params.meta_keywords }}{{ . }}{{ else }}{{ .Site.Params.meta_keywords }}{{ end }}">

    <meta property="og:title" content="Manjaro - {{ .Title }}">
    <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.meta_description }}{{else}}{{.Params.meta_description}}{{end}}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta name="twitter:card" content="{{ .Params.twitter_summary }}">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Manjaro">
    <meta name="twitter:image:alt" content="Manjaro {{.Title}}">

    <!--  todo - Non-Essential, But Required for Analytics 

    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@ManjaroLinux"> -->
    
  {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
</head>
<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.manjaro.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
