<!--   Core JS Files   -->
<script src="{{ "js/core/jquery.3.2.1.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/popper.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/bootstrap.min.js" | relURL }}" type="text/javascript"></script>
<!-- needed for mobile menu -->
<script src="{{ "js/now-ui-kit.js?v=1.1.0" | relURL }}" type="text/javascript"></script>
<!-- BackToTop Script -->
<script src="{{ "js/plugins/vanilla-back-to-top.min.js" | relURL }}" ></script>
<!-- do not run on news page -->
{{ if ne .Title "News"}} 
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{ "js/plugins/bootstrap-switch.js"| relURL }}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ "js/plugins/nouislider.min.js" | relURL }}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{{ "js/plugins/bootstrap-datepicker.js" | relURL }}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->

<!-- Contact Script -->
<script src="{{ "js/validator.min.js" | relURL }}" ></script>
<script src="{{ "js/contact.js" | relURL }}" ></script>

<script type="text/javascript">
    $(document).ready(function() {
// hide page title on scroll
if ($( window ).width() > 992) {
      $(window).scroll(function() {
        if ($(this).scrollTop()>50) {
          $('.title-container').fadeOut();
          $(".page-header-image").css("filter", "grayscale(0%)");
      }
        else {
          $('.title-container').fadeIn();
          $(".page-header-image").css("filter", "grayscale(100%)");
        }
      });
    };
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

{{ range .Site.Params.custom_js }}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}


<!-- Code highlighting -->
{{ if  not .Params.nocode }}
<link rel="stylesheet" href="/js/plugins/highlight/styles/default.css">
<script src="/js/plugins/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- LaTeX math rendering -->
{{ if not .Params.nomath }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script async src="/js/plugins/mathjax/MathJax.js?config=TeX-AMS_CHTML"></script>
{{ end }}
{{ end }}  
<!-- do not run on news page -->
<script>
addBackToTop({
        diameter: 56,
        backgroundColor: '#44883C',
        textColor: '#fff'
    })
</script>
<!-- only run on news page -->
{{ if eq .Title "News"}} 
<script>$("a[href='/news/']").hide();</script>
<script src="/js/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="/js/feedreader.js" type="text/javascript"></script>

{{ end }}
{{ if .IsHome }}
<script>
function scrollToContent() {
    $('html, body').animate({
                scrollTop: $('#content' ).offset().top -200
                }, 500);
}
$("#scrolltocontent").on('click', function() {
    scrollToContent();
});
$(window).one("scroll", function(){
    scrollToContent();
});
</script>
<script> 
    var $buoop = {required:{e:-2,f:-2,o:-2,s:-1,c:-2},
    insecure:true,
    unsupported:true,
    style:"corner",
    api:2019.05,
    text: `
    <p class='black-text'>Your browser {brow_name} is out of date.<p>
    <p>Update your browser or install a new one for more security, speed and best experience on manjaro.org and other websites.</p>
    <p class='black-text'>Tip: In Manjaro you can update your browser using Pamac or Octopi.</p>
    <a id='bourgul' href='http://outdatedbrowser.com/en' target="_blank">More Info</a>
    <a {ignore_but}>Ignore</a>
    `,
    test: false }; 
    function $buo_f(){ 
     var e = document.createElement("script"); 
     e.src = "//browser-update.org/update.min.js"; 
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
</script>
{{ end }}
{{ if eq .Title "Downloads"}} 
<script>
$("a[href='/download/']").hide();
$("#show-editions-official").addClass('btn-success');
// hide preview button if previws are not available
if (!$("div").hasClass("editions-box-hideable-dev")) { $("#show-editions-dev").remove(); }
// add green color onclick
$('button').on('click', function () {
    $(".btn-group button").removeClass('btn-success');
    $(this).addClass('btn-success');
});

function element_is_in_tags(el, tags) {

    for (var id in tags) {

        if(!el.classList.contains("editions-box-hideable-" + tags[id])){
            return false;
        }

    }
    return true;
}

function show_only_editions_with_tags(tags) {

    var els = document.getElementsByClassName('editions-box-hideable');

    [].forEach.call(els, function (el)
    {
        if (tags.length == 0) {
            el.style.display = "none";
        }
        else {

            if(element_is_in_tags(el, tags)) {
                el.style.display = "inline-block";
            }
            else {
                el.style.display = "none";
            }
        }
    });
}
function update_editions_tags(id) {
    var tag_filter = [];
    tag_filter.push( id );
    show_only_editions_with_tags(tag_filter)
}
update_editions_tags("official");
</script>
{{ end }}
{{ if eq .Title "Donate"}} 
<script>$("a[href='/donate/']").hide();</script>
{{ end }}


    
