<!--   Core JS Files   -->
<script src="{{ "js/core/jquery.3.4.1.min.js" | relURL }}" type="text/javascript"></script>
<!--   required by bootstrap   -->
<script src="{{ "js/core/popper.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/bootstrap.min.js" | relURL }}" type="text/javascript"></script>
<!-- needed for mobile menu -->
<script src="{{ "js/now-ui-kit.js?v=1.1.0" | relURL }}" type="text/javascript"></script>
<!-- BackToTop Script -->
<script src="{{ "js/plugins/vanilla-back-to-top.min.js" | relURL }}" ></script>
<!-- do not run on news page -->
{{ if ne .Title "News"}} 

<script type="text/javascript">
    $(document).ready(function() { 
        setTimeout(function(){ 
            $(".progress-bar").css("width", "30%");
         }, 100);
         setTimeout(function(){ 
            $(".progress-bar").css("width", "50%");
         }, 200);
         setTimeout(function(){ 
            $(".progress-bar").css("width", "60%");
         }, 300);
         setTimeout(function(){ 
            $(".progress-bar").css("width", "75%");
         }, 400);
         setTimeout(function(){ 
            $(".progress-bar").css("width", "100%");
            $(".logo-overlay-loader").fadeOut();
         }, 500); 
         setTimeout(function(){ 
            $(".social-animation").removeClass("social-animation");
         }, 5000);
// hide page title on scroll
if ($( window ).width() > 992) {
      $(window).scroll(function() {
        if ($(this).scrollTop()>50) {
          $('.title-container').fadeOut();
          $(".page-header-image").css("filter", "grayscale(0%)");
      }
        else {
          $('.title-container').fadeIn();
          $(".page-header-image").css("filter", "grayscale(100%)");
        }
      });
    };
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

{{ range .Site.Params.custom_js }}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}

{{ end }}  
<!-- do not run on news page -->
<script>
addBackToTop({
        diameter: 56,
        backgroundColor: '#44883C',
        textColor: '#fff'
    })
</script>
<!-- only run on news page -->
{{ if eq .Title "News"}} 
<script>$("a[href='/news/']").hide();</script>
<script src="/js/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="/js/corsFeedReader.js" type="text/javascript"></script>
<script src="/js/news.js" type="text/javascript"></script>
{{ end }}

{{ if .IsHome }}
<script>
function scrollToContent() {
    $('html, body').animate({
                scrollTop: $('#content' ).offset().top -200
                }, 500);
}
$("#scrolltocontent").on('click', function() {
    scrollToContent();
});
$(window).one("scroll", function(){
    scrollToContent();
});
</script>
<script> 
    var $buoop = {required:{e:-2,f:-2,o:-2,s:-1,c:-2},
    insecure:true,
    unsupported:true,
    style:"corner",
    api:2019.05,
    text: `
    <p class='black-text'>Your browser engine {brow_name} is out of date.<p>
    <p>Update your browser or install a new one for more security, speed and best experience on manjaro.org and other websites.</p>
    <p class='black-text'>Tip: In Manjaro you can update your browser using Pamac or Octopi.</p>
    <a id='bourgul' href='http://outdatedbrowser.com/en' target="_blank">Browsers Info</a>
    <a {ignore_but}>Ignore</a>
    `,
    {{ if .Site.IsServer }}test: true{{ else }}test: false{{ end }}
    }; 
    function $buo_f(){ 
     var e = document.createElement("script"); 
     e.src = "//browser-update.org/update.min.js"; 
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
</script>
{{ end }}
{{ if eq .Title "Downloads"}} 
<script>
$("a[href='/download/']").hide();

$('.editions-grid').append($('.gnome'));
$('.editions-grid').append($('.architect'));
$('.editions-grid').prepend($('.kde'));
$('.editions-grid').prepend($('.xfce'));

function show_editions(editions) {
    if ($(window).width() > 991) {
        var space = $(window).width()
        $('.editions-grid').animate({left: space}, 400).promise().done(function() {
            $('.edition').hide()
            $(this).css('left', - space);
            if ($(editions).length === 1) {
                $('#go-down').hide();
            }
            $(editions).show()
            $(this).animate({left: 0}, 400);
        });
    } else {
        $('.edition').hide();
        $(editions).show();
    }
}

if ($(window).width() < 991) {
    $('.Official-logo').attr('src', '/img/icon-white.svg');
}

$('#official').hover( function () {
    $('.Official-logo').attr('src', '/img/icon-white.svg');
}, function () {
    if ($(window).width() > 991) {
        $('.Official-logo').attr('src', '/img/icon.svg');
}
});
$('.Official').show();
setTimeout(function () { 
    displayArrow();
        }, 1400);

var arrowDownTimer
function displayArrow() {

    function timing() { 
        arrowDownTimer = setTimeout(function () { 
        $('#go-down').hide();
        }, 4000);
    }
    if ($('#go-down').is(':visible')) {
            clearTimeout(arrowDownTimer);
            timing();
            $('#go-down').show();
    } else {
        setTimeout(function () { 
            $('#go-down').show();
            timing();
        }, 800);
    }
}

</script>
{{ end }}
{{ if eq .Title "Donate"}} 
<script>$("a[href='/donate/']").hide();</script>
{{ end }}


    
