<!--   Core JS Files   -->
<script src="{{ "js/core/jquery.3.2.1.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/popper.min.js" | relURL }}" type="text/javascript"></script>
<script src="{{ "js/core/bootstrap.min.js" | relURL }}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{ "js/plugins/bootstrap-switch.js"| relURL }}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ "js/plugins/nouislider.min.js" | relURL }}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{{ "js/plugins/bootstrap-datepicker.js" | relURL }}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{{ "js/now-ui-kit.js?v=1.1.0" | relURL }}" type="text/javascript"></script>
<!-- Contact Script -->
<script src="{{ "js/contact.js" | relURL }}" ></script>
{{ if eq .Title "News"}}
<script src="/js/masonry.pkgd.min.js" type="text/javascript"></script>
<script>
 $('.row').masonry({
            itemSelector: '.grid-item'
        });
(function () {
    var feeds = [
        "https://forum.manjaro.org/c/announcements.rss",
        "https://forum.manjaro.org/c/announcements/manjaro32.rss",
        "https://forum.manjaro.org/c/manjaro-arm/announcements.rss"
    ]
    var feeds = feeds.values();
    for (var feed of feeds) {
            $.get(feed, function(data) {
            var $XML = $(data);
            $XML.find("item").each(function(iter) {
                iter++
                var $this = $(this),
                    item = {
                        title:       $this.find("title").text().replace(/\d{2,4}[\-|\/]\d{1,2}[\-]\d{1,2}|\[|\]|\(|\)/g, ""),
                        category:    $this.find("category").text(),
                        description: $this.find("description").html().replace(/\]]>/g, "").replace("full topic", "in the forum"),
                        date:        $this.find("pubDate").text().replace(/\+0000/g, ""),
                        link:        $this.find("link").text(),
                    };
                var el = "news" + item.date.replace(/\ |:|,/g, "") + iter.toString()
                //el += item.date.replace.text().replace(/\ |:|,/g, "")
                var shortDesc = item.description
                var article = `
                <article class='blog-post ` + el + ` grid-item col-md-6 col-xl-4 ml-auto mr-auto'>
                    <div class="card">
                        <div class="card-body">
                        <time>` + item.date + `</time>
                        <h5 class="card-title">` + item.title + `</h5>
                        <img class="card-img-top img-fluid" src="" alt="Card image cap">
                        <p class="card-text"></p>
                        <div class="btn-group">
                        <button class="btn-sm btn disabled">Read More:</button>
                        <button data-toggle="modal" data-target='#` + el + `' class="btn btn-sm btn-success btn-primary"><a href="#">Here</a></button>
                        <button class="btn btn-success btn-sm btn-primary"><a href="` + item.link + `">Forum</a></button>
                        </div>
                        </div>
                    </div>
                </article>`
                
                var modal = `<div class="modal fade" id="` + el + `" tabindex="-1" role="dialog" aria-labelledby="` + item.title + `" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">` + item.title + `</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                            &times;
                            </button>
                        </div>
                        <div class="modal-body">
                        ` + item.description + `
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>
                `
                
                var oldDate =  $(".blog-post").find("time:first").text().replace(/\d{2,4}[\:|\/]\d{1,2}[\:]\d{1,2}|\[|\]|\(|\)|,/g, "")
                var newDate = item.date.replace(/\d{2,4}[\:|\/]\d{1,2}[\:]\d{1,2}|\[|\]|\(|\)|,/g, "")
                console.log(oldDate)
                if (oldDate < newDate) {
                    $(".blog .row").append(article);
                } else {
                    $(".blog .row").prepend(article);
                }
                
                $("body").append(modal);
                var shortDesc = $('#' + el + ' .modal-body').text().trim().slice(1, 300);
                var img = item.description
                img = $('#' + el + ' .modal-body').find("img").attr("src")
                $("." + el + " .card-text").append(shortDesc);
                $("." + el + " .card-img-top").attr("src", img);
                $(".row").masonry("reloadItems").masonry("layout");
            });
});
}})();
</script>
{{ end }}
<script type="text/javascript">
    $(document).ready(function() {
// hide page title on scroll
    $(window).scroll(function() {

      if ($(this).scrollTop()>50) {
        $('.title-container').fadeOut();
        // this might not work on webkit browsers
        var landingPage = $("body").hasClass("landing-page") == false
        if (landingPage) {
          $(".navbar-brand").text("Manjaro - ");
          $(".page-nav").text(document.title.slice(10));
        }
      }
      else {
        $('.title-container').fadeIn();
        $(".navbar-brand").text("Manjaro - enjoy the simplicity");
        $(".page-nav").text("");
      }
    });
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

{{ range .Site.Params.custom_js }}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}


<!-- Code highlighting -->
{{ if  not .Params.nocode }}
<link rel="stylesheet" href="/js/plugin/highlight//styles/default.css">
<script src="/js/plugin/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- LaTeX math rendering -->
{{ if not .Params.nomath }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
<script async src="/js/plugin/MathJax.js?config=TeX-AMS_CHTML"></script>
{{ end }}

<!-- Feeds -->

    
