<!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}" title="Manjaro.org" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-toggle="tooltip">
                    manjaro 
                </a><span class="page-nav">- {{.Title}}</span>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{{ "img/blurred-image-1.jpg" | relURL }}">
              <ul class="navbar-nav  ml-auto">
                  {{ if eq .Title "Downloads"}}
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle"  id="dropdown-editions" data-toggle="dropdown">
                        <span>Editions</span>
                        <span class="caret"></span>
                      </a>
                    <ul class="dropdown-menu dropdown-menu-right multi-level" aria-labelledby="dropdown-editions">
                      
                      <li class="dropdown-submenu">
                      <a href="#" onclick="show_editions('.official');" class="dropdown-item" id="official" aria-expanded="Dropright"><img class="official-logo" src="/img/icon.svg">Official</a>
                      <ul class="dropdown-menu" aria-labelledby="official">
                          {{ range (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "official") }}
                          <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                          {{end}}
                      </ul>
                      </li>
                  
                      <li class="dropdown-submenu">
                        <a href="#" onclick="show_editions('.community');" class="dropdown-item" id="community" aria-expanded="Dropright"><i class="fa fa-users"></i>community</a>
                        <ul class="dropdown-menu" aria-labelledby="community">
                            {{ range (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "community") }}
                            <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                            {{end}}
                        </ul></li>
                    
                          <li class="dropdown-submenu">
                          <a href="#" onclick="show_editions('.32bit');" class="dropdown-item" id="32bit" aria-expanded="Dropright"><i class="fas fa-compact-disc"></i>32bit</a>
                          <ul class="dropdown-menu" aria-labelledby="32bit">
                              {{ range (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "32bit") }}
                              <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                              {{end}}
                          </ul></li>
                    
                            <li class="dropdown-submenu">
                            <a href="#" onclick="show_editions('.arm');" class="dropdown-item" id="arm" aria-expanded="Dropright"><i class="fas fa-microchip"></i>arm</a>
                            <ul class="dropdown-menu" aria-labelledby="arm">
                                <li class="dropdown-submenu">
                                  <a onclick="show_editions('.odroid');" class="dropdown-item" href="#">Odroid N2</a>
                                  <ul class="dropdown-menu" aria-labelledby="odroid">
                                      {{ range (where (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "arm") ".Params.device" "odroid" ) }}
                                        <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                                        {{end}}
                                      </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a onclick="show_editions('.pinebook');" class="dropdown-item" href="#">Pinebook</a>
                                    <ul class="dropdown-menu" aria-labelledby="pinebook">
                                        {{ range (where (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "arm") ".Params.device" "pinebook" ) }}
                                          <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                                          {{end}}
                                        </ul>
                                  </li>
                                  <li class="dropdown-submenu">
                                      <a onclick="show_editions('.raspberrypi3');"  class="dropdown-item" href="#">Raspberry Pi 3</a>
                                      <ul class="dropdown-menu" aria-labelledby="Raspeberry Pi 3">
                                          {{ range (where (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "arm") ".Params.device" "raspberrypi3" ) }}
                                            <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                                            {{end}}
                                          </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a onclick="show_editions('.rockpi4');" class="dropdown-item" href="#">Rock Pi 4</a>
                                        <ul class="dropdown-menu" aria-labelledby="Rock Pi 4">
                                            {{ range (where (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "arm") ".Params.device" "rockpi4" ) }}
                                              <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                                              {{end}}
                                            </ul>
                                      </li>
                                      <li class="dropdown-submenu">
                                          <a onclick="show_editions('.rockpro64');"  class="dropdown-item" href="#">Rock Pro 64</a>
                                          <ul class="dropdown-menu" aria-labelledby="Rock Pro 64">
                                              {{ range (where (where (where .Site.Pages "Type" "download-edition") ".Params.edition" "arm") ".Params.device" "rockpro64" ) }}
                                                <a class="dropdown-item" href="#" onclick="show_editions('.edition.{{ .Params.edition }}.{{ replace .Params.name " " "-" | lower}}');">{{ .Params.title }}</a>
                                                {{end}}
                                              </ul>
                                        </li>
                            </ul>
                          </li>
              </ul>
                  </li>
                  {{ end }}
               
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown">
              {{ .Pre }} <span>{{ .Name }}</span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right multi-level {{ if eq .Name "More" }}jumbo-submenu{{end}}" aria-labelledby="navbarDropdownMenuLink">
              {{ range .Children }}
                {{ if .HasChildren }}
                <div class="menu-block">
                <h6 class="dropdown-header">{{ .Name }}</h6>
                  {{ range .Children }}
                  
                    {{ $exttarget := hasPrefix .URL "http" }}
                    <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ if $exttarget }} target="_blank"{{ end }}>
                      {{ .Pre }}
                      <span>{{ .Name }}</span>
                    </a>
                 
                  
                  {{end}}
                  </div>
                {{ else }}
                {{ $exttarget := hasPrefix .URL "http" }}
                <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ if $exttarget }} target="_blank"{{ end }}>
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
                </a>
                {{end}}
              {{end}}
            </div>
          </li>
          {{ else }}
          {{ $exttarget := hasPrefix .URL "http" }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ if $exttarget }} target="_blank"{{ end }}>
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li> 
          
          {{ end }}
          
        {{ end }}
                  </ul>
              </div>
          </div>
      </nav>
      <!-- End Navbar -->
  
