<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}" title="Manjaro.org" rel="tooltip" data-placement="bottom" data-toggle="tooltip" data-toggle="tooltip">
              manjaro 
          </a><span class="page-nav">- {{.Title}}</span>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{{ "img/blurred-image-1.jpg" | relURL }}">
        <ul class="navbar-nav  ml-auto">
            {{ if eq .Title "Downloads"}}
            {{ partial "editions-nav" . }}
        </ul>
            {{ end }}
         
{{ range .Site.Menus.main }}
  {{ if .HasChildren }}
  <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown">
        {{ .Pre }} <span>{{ .Name }}</span>
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right multi-level {{ if eq .Name "More" }}jumbo-submenu{{end}}" aria-labelledby="navbarDropdownMenuLink">
        {{ range .Children }}
          {{ if .HasChildren }}
          <div class="menu-block">
          <h6 class="dropdown-header">{{ .Name }}</h6>
            {{ range .Children }}
            
              {{ $exttarget := hasPrefix .URL "http" }}
              <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ if $exttarget }} target="_blank"{{ end }}>
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
           
            
            {{end}}
            </div>
          {{ else }}
          {{ $exttarget := hasPrefix .URL "http" }}
          <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ if $exttarget }} target="_blank"{{ end }}>
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
          {{end}}
        {{end}}
      </div>
    </li>
    {{ else }}
    {{ $exttarget := hasPrefix .URL "http" }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ if $exttarget }} target="_blank"{{ end }}>
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li> 
    
    {{ end }}
    
  {{ end }}
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
