{{ if eq .Type "stepper" }}
<aside id="stepper" class="bs-stepper {{.Params.stepsaspect}}" >
  <div class="bs-stepper-header">
    
      {{$size:= (len .Params.stepstitles)}}
      {{ range $index, $element := .Params.stepstitles}}
        {{$indexStartingAt1 := (add $index 1)}}
          <div class="step" data-target="#step{{ $index }}">
           <button type="button" class="btn step-trigger">
              <span class="bs-stepper-label">Step</span>
             <span class="bs-stepper-circle bg-success">{{ $indexStartingAt1 }}</span>
           </button>
          </div>
          {{if lt $indexStartingAt1 $size}} 
            <div class="line"></div>
          {{end}}
      {{ end }}
  </div>
            
  <div class="bs-stepper-content clearfix">
      {{$size:= (len .Params.stepscontent)}}
      {{ range $index, $element := .Params.stepscontent}}
        <div id="step{{ $index }}" class="content">

            {{ with  $.GetPage $element }} 
            {{ .Content }}
            {{ end }}
         
          {{if lt (add $index 1) $size}} 
            <button class="btn btn-primary btn-lg float-lg-right" onclick="stepper.next()">Next</button>
          {{end}}
          {{if gt $index 0}} 
            <button class="btn btn-primary btn-lg float-lg-right" onclick="stepper.previous()">Previous</button>
          {{end}}
                
        </div>
      {{ end }}
  </div>
</aside>
{{ end }}
