{{ range .Site.Pages }} 
	{{ if eq .Type "story-overview" }}
		<div class="section-story-overview">
			<div class="row">
				<div class="col-md-6">
					<h2><img src="/img/logo.svg">{{.Params.title}}</h2>
					{{ range $index, $element := split .Content "érightside" }}
						{{if eq $index 0}} 
							{{ replace $element "<p>" "<p class='col-left'>" | safeHTML }}<!-- This is my precious -->
						{{end}}
					{{end}}
					<p class="blockquote blockquote-primary"><i class="fa fa-quote-left"></i> {{.Params.quote}} <i class="fa fa-quote-right"></i>
						<br>
						<br>
						<small>{{.Params.quotewriter}}</small>
					</p>
				</div>
				<div class="col-md-6">
				{{ range $index, $element := split .Content "érightside" }}
					{{if eq $index 1}} 
						{{ substr $element 6  | safeHTML }}
					{{end}}
				{{end}}
				</div>
			</div>
		</div>
	{{end}}
{{end}}