{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "body" }}

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="container">
        {{.Content }}
        </div>
    </div>

</div>

<p class="text-center btn-container">
    {{ range $index, $element := .Params.downloadbuttons}}
  <a href="https://de.osdn.net/projects/manjaro/storage/{{ replace $element " " "-" }}.pdf" class="btn btn-xl" target="_blank" >{{ $element }}</a>
  {{ end }}
<p>

<div class="row d-flex justify-content-center">
   
  	{{ range $index, $element := .Params.subcontent}}
              {{ with  $.GetPage $element }} 
              {{$images := .Params.images}}
              
              {{$headings := replace .Content "<h4" "<h4 class='card-title text-success d-flex justify-content-center'"}}
              {{$headings := replace $headings "<table" "<table class='table'"}}
              {{$headings := replace $headings "<thead>" ""}}
              {{$headings := replace $headings "<tr>" ""}}
              {{$headings := replace $headings "<th>" ""}}
              {{ range $subindex, $subelement := split $headings "ésplit" }}
              <!-- | safeHTML -->
              
    <div class="col-md-4">
        <div class="card">
            <div class="d-flex card-header card-header-image justify-content-center">
                    <img class="img-fluid xl-icon" style="margin-bottom:-80px;" src="{{index $images $subindex}}">
           </div>
            <div class="card-body">
                
                <p class="card-description">
                    {{$subelement | safeHTML}}
                </p>
            </div>
        </div>
      </div>
      {{end}}
      {{end}}
      {{end}}
</div>
{{ end }}  
