{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "body" }}
{{ partial "editionfinder.html" . }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
	<section>
		<div class="container">
			<div class="features-post" >
			</div>
					{{ range $index, $element := .Params.listcontent}}
					{{ with  $.GetPage $element }} 
						<li class="list-group-item">
								<div class="row d-inline-flex w-100 ml-2">
										<div class="col-xs-6">
												<img src="/img/try/{{ .Params.icon}}.svg" alt="{{ .Params.icon}}" class="icon">
										</div>
										<div class="col-xs-6">
												<br>
												{{ .Content }}	
										</div>
									</div>						
						</li>
					{{ end }}
				</div>
			{{ end }}
		</div>
	</section>
  </div>   
</div>
{{ end }}        
 
